@charset "utf-8";
h1, h2, h3, h4, h5, h6 {line-height: 1.2 !important;}
a:active, .link a:link, .link a:visited, .link a:focus, .uk-breadcrumb a:link, .uk-breadcrumb a:visited, .uk-breadcrumb a:focus {color: #3ab54a;}
.color_primary, .hover_color_primary:focus, .hover_color_primary:hover, ul.hover_color_primary>li>a:focus, ul.hover_color_primary>li>a:hover, .monthly-event-list .monthly-today .monthly-event-list-date {color: #3ab54a !important;}
.color_secondary, .hover_color_secondary:focus, .hover_color_secondary:hover, ul.hover_color_secondary>li>a:focus, ul.hover_color_secondary>li>a:hover {color: #8cc63e !important;}
.bg_hover_white_color_primary:focus, .bg_hover_white_color_primary:hover {color: #3ab54a !important; background-color: white;}
.bg_hover_white_color_secondary:focus, .bg_hover_white_color_secondary:hover {color: #8cc63e !important; background-color: white;}
.bg_primary, .btn_primary, .btn_hover_primary.uk-active, .btn_hover_primary:hover, .hover_primary li>a:hover, .hover_primary li.uk-active>a, .uk-block-primary, .uk-pagination>li.uk-active span, ul.hover_bg_primary>li>a:focus, ul.hover_bg_primary>li>a:hover, ol.listDecimalRow.listBadge>li:before, .monthly-today .monthly-day-number, .monthly .monthly-header-title-date, .monthly .monthly-header-title-date:hover {color: white !important;background-color: #3ab54a !important;}
.bg_secondary, .bg_primary2, .btn_hover_secondary:hover, .btn_secondary, .hover_secondary li>a:hover, .hover_secondary li.uk-active>a, .uk-block-secondary, nav.bg_secondary .uk-dropdown a, ul.hover_bg_secondary>li>a:focus, ul.hover_bg_secondary>li>a:hover, ol.listDecimalRow.listBadge.listBadgeSecondary>li:before {color: white !important;background-color: #8cc63e !important;}
.btn_primary:focus, .btn_primary:hover, .btn_primary.selected {text-decoration: none; background-color: #35a544 !important;}
.btn_secondary:focus, .btn_secondary:hover {background-color: #81b739 !important;}
.fontsize li>a {color: #3ab54a !important; border: 1px solid #3ab54a;}
.fontsize li.uk-active>a, .fontsize li.uk-open>a, .fontsize li>a:focus, .fontsize li>a:hover {background: #3ab54a !important; border-color: #3ab54a; color: white !important;}

.templateA2 a:active, .templateA2 .link a:link, .templateA2 .link a:visited, .templateA2 .link a:focus, .templateA2 .uk-breadcrumb a:link, .templateA2 .uk-breadcrumb a:visited, .templateA2 .uk-breadcrumb a:focus {color: #b53a3a;}
.templateA2 .color_primary, .templateA2 .hover_color_primary:focus, .templateA2 .hover_color_primary:hover, .templateA2 ul.hover_color_primary>li>a:focus, .templateA2 ul.hover_color_primary>li>a:hover, .templateA2 .monthly-event-list .monthly-today .monthly-event-list-date {color: #b53a3a !important;}
.templateA2 .bg_hover_white_color_primary:focus, .templateA2 .bg_hover_white_color_primary:hover {color: #b53a3a !important; background-color: white;}
.templateA2 .bg_primary, .templateA2 .btn_primary, .templateA2 .btn_hover_primary.uk-active, .templateA2 .btn_hover_primary:hover, .templateA2 .hover_primary li>a:hover, .templateA2 .hover_primary li.uk-active>a, .templateA2 .uk-block-primary, .templateA2 .uk-pagination>li.uk-active span, .templateA2 ul.hover_bg_primary>li>a:focus, .templateA2 ul.hover_bg_primary>li>a:hover, .templateA2 ol.listDecimalRow.listBadge>li:before, .templateA2 .monthly-today .monthly-day-number, .templateA2 .monthly .monthly-header-title-date, .templateA2 .monthly .monthly-header-title-date:hover {color: white !important;background-color: #b53a3a !important;}
.templateA2 .btn_primary:focus, .templateA2 .btn_primary:hover, .templateA2 .btn_primary.selected {text-decoration: none; background-color: #a53434 !important;}
.templateA2 .fontsize li>a {color: #b53a3a !important; border: 1px solid #b53a3a;}
.templateA2 .fontsize li.uk-active>a, .templateA2 .fontsize li.uk-open>a, .templateA2 .fontsize li>a:focus, .templateA2 .fontsize li>a:hover {background: #b53a3a !important; border-color: #b53a3a; color: white !important;}

.templateA2 .color_secondary, .templateA2 .hover_color_secondary:focus, .templateA2 .hover_color_secondary:hover, .templateA2 ul.hover_color_secondary>li>a:focus, .templateA2 ul.hover_color_secondary>li>a:hover {color: #ff6a00 !important;}
.templateA2 .bg_hover_white_color_secondary:focus, .templateA2 .bg_hover_white_color_secondary:hover {color: #ff6a00 !important; background-color: white;}
.templateA2 .bg_secondary, .templateA2 .btn_secondary, .templateA2 .btn_hover_secondary.uk-active, .templateA2 .btn_hover_secondary:hover, .templateA2 .hover_secondary li>a:hover, .templateA2 .hover_secondary li.uk-active>a, .templateA2 .bg_secondary, .templateA2 .uk-block-secondary, .templateA2 nav.bg_secondary .uk-dropdown a, .templateA2 ul.hover_bg_secondary>li>a:focus, .templateA2 ul.hover_bg_secondary>li>a:hover, .templateA2 ol.listDecimalRow.listBadge.listBadgeSecondary>li:before {color: white !important;background-color: #ff6a00 !important;}
.templateA2 .btn_secondary:focus, .templateA2 .btn_secondary:hover {background-color: #ec6504 !important;}

.templateB1 .color_secondary, .templateB1 .hover_color_secondary:focus, .templateB1 .hover_color_secondary:hover, .templateB1 ul.hover_color_secondary>li>a:focus, .templateB1 ul.hover_color_secondary>li>a:hover {color: #b56000 !important;}
.templateB1 .bg_hover_white_color_secondary:focus, .templateB1 .bg_hover_white_color_secondary:hover {color: #b56000 !important;
  background-color: white;}
.templateB1 .bg_secondary, .templateB1 .btn_secondary, .templateB1 .btn_hover_secondary.uk-active, .templateB1 .uk-open>.btn_hover_secondary, .templateB1 .btn_hover_secondary:focus, .templateB1 .btn_hover_secondary:hover,
.templateB1 .hover_secondary li>a:hover, .templateB1 .hover_secondary li.uk-active>a, .templateB1 .bg_secondary,
.templateB1 .uk-block-secondary, .templateB1 nav.bg_secondary .uk-dropdown a, .templateB1 ul.hover_bg_secondary>li>a:focus,
.templateB1 ul.hover_bg_secondary>li>a:hover, .templateB1 ul.hover_bg_secondary>li.uk-open>a, .templateB1 ul.hover_bg_secondary>li.uk-active>a, .templateB1 ol.listDecimalRow.listBadge.listBadgeSecondary>li:before {color: white !important;
  background-color: #b56000 !important;}
.templateB1 .bg_secondary2 {background: #e8a844;}
.templateB1 .btn_secondary:focus, .templateB1 .btn_secondary:hover {background-color: #ce7b1d !important; }

.templateB2 a:active, .templateB2 .link a:link, .templateB2 .link a:visited, .templateB2 .link a:focus, .templateB2 .uk-breadcrumb a:link, .templateB2 .uk-breadcrumb a:visited, .templateB2 .uk-breadcrumb a:focus {color: #8242b6;}
.templateB2 .color_primary, .templateB2 .hover_color_primary:focus, .templateB2 .hover_color_primary:hover, .templateB2 ul.hover_color_primary>li>a:focus, .templateB2 ul.hover_color_primary>li>a:hover, .templateB2 .monthly-event-list .monthly-today .monthly-event-list-date {color: #8242b6 !important;}
.templateB2 .bg_hover_white_color_primary:focus, .templateB2 .bg_hover_white_color_primary:hover {color: #8242b6 !important; background-color: white;}
.templateB2 .bg_primary, .templateB2 .btn_primary, .templateB2 .btn_hover_primary.uk-active, .templateB2 .btn_hover_primary:hover, .templateB2 .hover_primary li>a:hover, .templateB2 .hover_primary li.uk-active>a, .templateB2 .uk-block-primary, .templateB2 .uk-pagination>li.uk-active span, .templateB2 ul.hover_bg_primary>li>a:focus, .templateB2 ul.hover_bg_primary>li>a:hover, .templateB2 ol.listDecimalRow.listBadge>li:before, .templateB2 .monthly-today .monthly-day-number, .templateB2 .monthly .monthly-header-title-date, .templateB2 .monthly .monthly-header-title-date:hover {color: white !important;background-color: #8242b6 !important;}
.templateB2 .btn_primary:focus, .templateB2 .btn_primary:hover, .templateB2 .btn_primary.selected {text-decoration: none; background-color: #6f3a9b !important;}
.templateB2 .fontsize li>a {color: #8242b6 !important; border: 1px solid #8242b6;}
.templateB2 .fontsize li.uk-active>a, .templateB2 .fontsize li.uk-open>a, .templateB2 .fontsize li>a:focus, .templateB2 .fontsize li>a:hover {background: #8242b6 !important; border-color: #8242b6; color: white !important;}

.templateB2 .color_secondary, .templateB2 .hover_color_secondary:focus, .templateB2 .hover_color_secondary:hover, .templateB2 ul.hover_color_secondary>li>a:focus, .templateB2 ul.hover_color_secondary>li>a:hover {color: #0071bc !important;}
.templateB2 .bg_hover_white_color_secondary:focus, .templateB2 .bg_hover_white_color_secondary:hover {color: #0071bc !important; background-color: white;}
.templateB2 .bg_secondary, .templateB2 .btn_secondary, .templateB2 .btn_hover_secondary.uk-active, .templateB2 .btn_hover_secondary:hover, .templateB2 .hover_secondary li>a:hover, .templateB2 .hover_secondary li.uk-active>a, .templateB2 .bg_secondary, .templateB2 .uk-block-secondary, .templateB2 nav.bg_secondary .uk-dropdown a, .templateB2 ul.hover_bg_secondary>li>a:focus, .templateB2 ul.hover_bg_secondary>li>a:hover, .templateB2 ol.listDecimalRow.listBadge.listBadgeSecondary>li:before {color: white !important;background-color: #0071bc !important;}
.templateB2 .bg_secondary2 {background: #338cc4;}
.templateB2 .btn_secondary:focus, .templateB2 .btn_secondary:hover {background-color: #025e9c !important;}

ul.hover_bg_secondary>li>a.hover_linkline:hover {background:transparent !important;}

.templateB2 .bg_secondary2 {
  background: #338cc4;
}

.templateB2 .btn_secondary:focus,
.templateB2 .btn_secondary:hover {
  background-color: #025e9c !important;
}

.striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(58, 181, 74, 0.15);
}
.striped_primary.uk-table td, .striped_LightSeaGreen.uk-table th {
  border-bottom: 1px solid rgb(58, 181, 74, 0.3);
}

.bg_LightSeaGreen {
  background-color: LightSeaGreen;
}
.striped_LightSeaGreen.uk-table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(32, 178, 170, 0.15);
}
.striped_LightSeaGreen.uk-table td, .striped_LightSeaGreen.uk-table th {
  border-bottom: 1px solid rgb(32, 178, 170, 0.3);
}

.bg_CornflowerBlue, .striped_CornflowerBlue.uk-table-striped tbody tr:nth-of-type(odd) {
  background-color: CornflowerBlue;
}

.bg_MediumSlateBlue, .striped_MediumSlateBlue.uk-table-striped tbody tr:nth-of-type(odd) {
  background-color: MediumSlateBlue;
}

.tempindex .color_primary {
  color: HotPink !important;
}
.bg_HotPink, .tempindex .bg_primary, .striped_HotPink.uk-table-striped tbody tr:nth-of-type(odd) {
  background-color: HotPink !important;
}

.bg_Coral, .tempindex .bg_secondary, .striped_Coral.uk-table-striped tbody tr:nth-of-type(odd) {
  background-color: Coral !important;
}

.act1 .bg_primary, .act1 header .bg_primary, .act1 .btn_primary ,.act1 .listTabs a:hover, .act1 .listTabs .uk-active a, .act1 .listTabs .uk-nav li a:hover, .act1 .listTabs .uk-nav>li.uk-active>a, .act1 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act1 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act1 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act1 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act1 .uk-pagination>.uk-active>span, .act1 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #e6a54b !important;}
.act1 .btn_primary:hover {background-color: #ce9544 !important;}
.act2 .bg_primary, .act2 header .bg_primary, .act2 .btn_primary ,.act2 .listTabs a:hover, .act2 .listTabs .uk-active a, .act2 .listTabs .uk-nav li a:hover, .act2 .listTabs .uk-nav>li.uk-active>a, .act2 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act2 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act2 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act2 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act2 .uk-pagination>.uk-active>span, .act2 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #e45a5a !important;}
.act2 .btn_primary:hover {background-color: #cc5050 !important;}
.act3 .bg_primary, .act3 header .bg_primary, .act3 .btn_primary ,.act3 .listTabs a:hover, .act3 .listTabs .uk-active a, .act3 .listTabs .uk-nav li a:hover, .act3 .listTabs .uk-nav>li.uk-active>a, .act3 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act3 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act3 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act3 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act3 .uk-pagination>.uk-active>span, .act3 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #d151a0 !important;}
.act3 .btn_primary:hover {background-color: #b4468a !important;}
.act4 .bg_primary, .act4 header .bg_primary, .act4 .btn_primary ,.act4 .listTabs a:hover, .act4 .listTabs .uk-active a, .act4 .listTabs .uk-nav li a:hover, .act4 .listTabs .uk-nav>li.uk-active>a, .act4 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act4 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act4 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act4 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act4 .uk-pagination>.uk-active>span, .act4 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #8360c4 !important;}
.act4 .btn_primary:hover {background-color: #6b4fa0 !important;}
.act5 .bg_primary, .act5 header .bg_primary, .act5 .btn_primary ,.act5 .listTabs a:hover, .act5 .listTabs .uk-active a, .act5 .listTabs .uk-nav li a:hover, .act5 .listTabs .uk-nav>li.uk-active>a, .act5 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act5 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act5 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act5 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act5 .uk-pagination>.uk-active>span, .act5 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #6971bd !important;}
.act5 .btn_primary:hover {background-color: #5a61a1 !important;}
.act6 .bg_primary, .act6 header .bg_primary, .act6 .btn_primary ,.act6 .listTabs a:hover, .act6 .listTabs .uk-active a, .act6 .listTabs .uk-nav li a:hover, .act6 .listTabs .uk-nav>li.uk-active>a, .act6 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act6 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act6 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act6 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act6 .uk-pagination>.uk-active>span, .act6 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #6b8dce !important;}
.act6 .btn_primary:hover {background-color: #5e7cb4 !important;}
.act7 .bg_primary, .act7 header .bg_primary, .act7 .btn_primary ,.act7 .listTabs a:hover, .act7 .listTabs .uk-active a, .act7 .listTabs .uk-nav li a:hover, .act7 .listTabs .uk-nav>li.uk-active>a, .act7 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act7 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act7 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act7 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act7 .uk-pagination>.uk-active>span, .act7 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #5694ce !important;}
.act7 .btn_primary:hover {background-color: #4c82b4 !important;}
.act8 .bg_primary, .act8 header .bg_primary, .act8 .btn_primary ,.act8 .listTabs a:hover, .act8 .listTabs .uk-active a, .act8 .listTabs .uk-nav li a:hover, .act8 .listTabs .uk-nav>li.uk-active>a, .act8 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act8 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act8 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act8 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act8 .uk-pagination>.uk-active>span, .act8 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #60b4c9 !important;}
.act8 .btn_primary:hover {background-color: #5097a8 !important;}
.act9 .bg_primary, .act9 header .bg_primary, .act9 .btn_primary ,.act9 .listTabs a:hover, .act9 .listTabs .uk-active a, .act9 .listTabs .uk-nav li a:hover, .act9 .listTabs .uk-nav>li.uk-active>a, .act9 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act9 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act9 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act9 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act9 .uk-pagination>.uk-active>span, .act9 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #6bb6a3 !important;}
.act9 .btn_primary:hover {background-color: #5ea090 !important;}
.act10 .bg_primary, .act10 header .bg_primary, .act10 .btn_primary ,.act10 .listTabs a:hover, .act10 .listTabs .uk-active a, .act10 .listTabs .uk-nav li a:hover, .act10 .listTabs .uk-nav>li.uk-active>a, .act10 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act10 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act10 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act10 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act10 .uk-pagination>.uk-active>span, .act10 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #54b16b !important;}
.act10 .btn_primary:hover {background-color: #49995d !important;}
.act11 .bg_primary, .act11 header .bg_primary, .act11 .btn_primary ,.act11 .listTabs a:hover, .act11 .listTabs .uk-active a, .act11 .listTabs .uk-nav li a:hover, .act11 .listTabs .uk-nav>li.uk-active>a, .act11 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a, .act11 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a, .act11 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover, .act11 .listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover, .act11 .uk-pagination>.uk-active>span, .act11 .uk-pagination>li>a:focus, .uk-pagination>li>a:hover  {background-color: #a6c476 !important;}
.act11 .btn_primary:hover {background-color: #90aa65 !important;}

.tempindex>div:nth-child(2) {background: linear-gradient(to bottom, HotPink 0%, rgb(250, 160, 205) 100%) !important;}
.act1>div:nth-child(2) {background: linear-gradient(to bottom, #e6a54b 0%, #f8b24f 100%) !important;}
.act2>div:nth-child(2) {background: linear-gradient(to bottom, #e45a5a 0%, #f57373 100%) !important;}
.act3>div:nth-child(2) {background: linear-gradient(to bottom, #d151a0 0%, #f06ace 100%) !important;}
.act4>div:nth-child(2) {background: linear-gradient(to bottom, #8360c4 0%, #b46af0 100%) !important;}
.act5>div:nth-child(2) {background: linear-gradient(to bottom, #6971bd 0%, #8d86e5 100%) !important;}
.act6>div:nth-child(2) {background: linear-gradient(to bottom, #6b8dce 0%, #8199eb 100%) !important;}
.act7>div:nth-child(2) {background: linear-gradient(to bottom, #5694ce 0%, #84b9eb 100%) !important;}
.act8>div:nth-child(2) {background: linear-gradient(to bottom, #60b4c9 0%, #82d4e9 100%) !important;}
.act9>div:nth-child(2) {background: linear-gradient(to bottom, #6bb6a3 0%, #7cd3bd 100%) !important;}
.act10>div:nth-child(2) {background: linear-gradient(to bottom, #54b16b 0%, #7eb98d 100%) !important;}
.act11>div:nth-child(2) {background: linear-gradient(to bottom, #a6c476 0%, #bbd88d 100%) !important;}

.act1 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(255, 150, 0, 0.15);}
.act1 .striped_primary.uk-table td, .act1 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(255, 150, 0, 0.3);}
.act2 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(243, 45, 45, 0.15);}
.act2 .striped_primary.uk-table td, .act2 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(243, 45, 45, 0.3);}
.act3 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(231, 45, 160, 0.15);}
.act3 .striped_primary.uk-table td, .act3 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(231, 45, 160, 0.3);}
.act4 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(130, 75, 231, 0.15);}
.act4 .striped_primary.uk-table td, .act4 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(130, 75, 231, 0.3);}
.act5 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(105, 96, 226, 0.15);}
.act5 .striped_primary.uk-table td, .act5 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(105, 96, 226, 0.3);}
.act6 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(75, 111, 231, 0.15);}
.act6 .striped_primary.uk-table td, .act6 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(75, 111, 231, 0.3);}
.act7 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(75, 156, 231, 0.15);}
.act7 .striped_primary.uk-table td, .act7 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(75, 156, 231, 0.3);}
.act8 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(75, 200, 231, 0.15);}
.act8 .striped_primary.uk-table td, .act8 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(75, 200, 231, 0.3);}
.act9 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(76, 207, 175, 0.15);}
.act9 .striped_primary.uk-table td, .act9 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(76, 207, 175, 0.3);}
.act10 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(84, 177, 107, 0.15);}
.act10 .striped_primary.uk-table td, .act10 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(84, 177, 107, 0.3);}
.act11 .striped_primary.uk-table-striped tbody tr:nth-of-type(odd) {background-color: rgb(165, 214, 86, 0.15);}
.act11 .striped_primary.uk-table td, .act11 .striped_LightSeaGreen.uk-table th {border-bottom: 1px solid rgb(165, 214, 86, 0.3);}

.act1 .color_primary, .act1 .listTabs .uk-nav a, .act1 .listTabs .uk-active a, .act1 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act1 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act1 .listTabs .uk-nav>li.level3 li li>a, .act1 .uk-breadcrumb a {color: #e6a54b !important;}
.act2 .color_primary, .act2 .listTabs .uk-nav a, .act2 .listTabs .uk-active a, .act2 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act2 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act2 .listTabs .uk-nav>li.level3 li li>a, .act2 .uk-breadcrumb a {color: #e45a5a !important;}
.act3 .color_primary, .act3 .listTabs .uk-nav a, .act3 .listTabs .uk-active a, .act3 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act3 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act3 .listTabs .uk-nav>li.level3 li li>a, .act3 .uk-breadcrumb a {color: #d151a0 !important;}
.act4 .color_primary, .act4 .listTabs .uk-nav a, .act4 .listTabs .uk-active a, .act4 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act4 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act4 .listTabs .uk-nav>li.level3 li li>a, .act4 .uk-breadcrumb a {color: #8360c4 !important;}
.act5 .color_primary, .act5 .listTabs .uk-nav a, .act5 .listTabs .uk-active a, .act5 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act5 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act5 .listTabs .uk-nav>li.level3 li li>a, .act5 .uk-breadcrumb a {color: #6971bd !important;}
.act6 .color_primary, .act6 .listTabs .uk-nav a, .act6 .listTabs .uk-active a, .act6 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act6 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act6 .listTabs .uk-nav>li.level3 li li>a, .act6 .uk-breadcrumb a {color: #6b8dce !important;}
.act7 .color_primary, .act7 .listTabs .uk-nav a, .act7 .listTabs .uk-active a, .act7 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act7 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act7 .listTabs .uk-nav>li.level3 li li>a, .act7 .uk-breadcrumb a {color: #5694ce !important;}
.act8 .color_primary, .act8 .listTabs .uk-nav a, .act8 .listTabs .uk-active a, .act8 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act8 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act8 .listTabs .uk-nav>li.level3 li li>a, .act8 .uk-breadcrumb a {color: #60b4c9 !important;}
.act9 .color_primary, .act9 .listTabs .uk-nav a, .act9 .listTabs .uk-active a, .act9 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act9 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act9 .listTabs .uk-nav>li.level3 li li>a, .act9 .uk-breadcrumb a {color: #6bb6a3 !important;}
.act10 .color_primary, .act10 .listTabs .uk-nav a, .act10 .listTabs .uk-active a, .act10 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act10 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act10 .listTabs .uk-nav>li.level3 li li>a, .act10 .uk-breadcrumb a {color: #54b16b !important;}
.act11 .color_primary, .act11 .listTabs .uk-nav a, .act11 .listTabs .uk-active a, .act11 .listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act11 .listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a, .act11 .listTabs .uk-nav>li.level3 li li>a, .act11 .uk-breadcrumb a {color: #a6c476 !important;}

.tempindex>div:nth-child(3),.act1>div:nth-child(3), .act2>div:nth-child(3), .act3>div:nth-child(3), .act4>div:nth-child(3), .act5>div:nth-child(3), .act6>div:nth-child(3), .act7>div:nth-child(3), .act8>div:nth-child(3), .act9>div:nth-child(3), .act10>div:nth-child(3), .act11>div:nth-child(3), .tempindex>div:nth-child(4), .act1>div:nth-child(4), .act2>div:nth-child(4), .act3>div:nth-child(4), .act4>div:nth-child(4), .act5>div:nth-child(4), .act6>div:nth-child(4), .act7>div:nth-child(4), .act8>div:nth-child(4), .act9>div:nth-child(4), .act10>div:nth-child(4), .act11>div:nth-child(4) {display: none;}

.monthly .monthly-header-title-date,
.monthly .monthly-header-title-date:hover {
  border: 1px solid #3ab54a !important;
}

body {
  background: #e7f1f5;
}

#logoBar h2>span {
  line-height: 32px !important;
}

.index,
.page,
.bg_img {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.index .bg_img {
  background-image: url("../img/bg_indexa1.png");
}

.templateA2.index .bg_img {
  background-image: url("../img/bg_indexa2.png");
}

.templateB.index {
  padding-top: 50px !important;
  background-color: #170501;
  /*background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%),url(../img/bg_indexb1.jpg) no-repeat center top;
  background-size: 100%;*/
  background-image: url("../img/bg_indexb1.png");
}

.templateB2.index {
  /*background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%),url(../img/bg_indexb2.jpg) no-repeat center top;
  background-size: 100%;*/
  background-image: url("../img/bg_indexb2.png");
}

.page {
  background-position: center -30%;
}

h5.caption {
  border-radius: 10px 10px 0 0;
}

.link_caption .fa-fw {
  vertical-align: 1;
}

.dashboard .uk-panel {
  padding-bottom: 50px;
}

a.uk-position-bottom-right {
  line-height: 20px;
  min-height: 15px !important;
}

figure .svg-inline--fa {
  vertical-align: 0.3em;
}

.monthly-event-list .monthly-today .monthly-event-list-date {
  font-weight: bolder;
}

.listTabs .uk-list {
  border-top: 1px solid #E5E5E5;
}
.listTabs a {
  /*border-bottom: 1px solid #E5E5E5;*/
  line-height: 30px;
  padding: 5px 10px;
}
.listTabs a:hover,
.listTabs .uk-active a {
  color: white !important;
  background-color: #3ab54a;
  text-decoration: none;
}
.templateA2 .listTabs a:hover,
.templateA2 .listTabs .uk-active a {
  color: white !important;
  background-color: #3ab54a;
  text-decoration: none;
}
.listTabs .uk-grid-divider>li, .listTabs .uk-grid-divider>li:last-child:nth-child(odd) {
  border-right: 1px solid #E5E5E5;
}
.listTabs .uk-grid-divider>li:nth-child(even),
.listTabs .uk-grid-divider>li:last-child {
  border-right: 0;
}
.listTabs .uk-grid-divider>li:last-child:nth-child(odd) a {
  border-bottom: 0;
}
.listTabs .uk-nav {
  border: 1px solid #E5E5E5;
  border-bottom: 2px solid #dcdada;
}
.listTabs .uk-nav>li {
    border-bottom: 1px solid #E5E5E5;
}
.listTabs .uk-nav>li:last-child:nth-child(odd) {
    border-bottom: none;
}
.listTabs .uk-nav a {
  color: #3ab54a;
  padding: 5px 15px;
}
.listTabs .uk-nav>li.uk-open>a {
  background: #507120 !important;
  color: white !important;
}
.listTabs .uk-active a,
.listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li.level3 li li>a {
  color: #3ab54a !important;
  background-color: transparent;
}
.listTabs .uk-nav li a:hover,
.listTabs .uk-nav>li.uk-active>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #3ab54a;
  color: white !important;
}
.listTabs .uk-nav>li.level3 li>a,
.listTabs .uk-nav>li.level3[aria-expanded="true"] li[aria-expanded="true"]>a {
  background: #8cc63e;
  color: white !important;
}
.templateA2 .listTabs .uk-nav>li.level3 li>a,
.templateA2 .listTabs .uk-nav>li.level3[aria-expanded="true"] li[aria-expanded="true"]>a {
  background: #ff6a00;
  color: white !important;
}
.templateB1 .listTabs .uk-nav>li.level3 li>a,
.templateB1 .listTabs .uk-nav>li.level3[aria-expanded="true"] li[aria-expanded="true"]>a {
  background: #b56000;
  color: white !important;
}
.templateB2 .listTabs .uk-nav>li.level3 li>a,
.templateB2 .listTabs .uk-nav>li.level3[aria-expanded="true"] li[aria-expanded="true"]>a {
  background: #0071bc;
  color: white !important;
}
.listTabs.listTabs_grey .uk-nav a {
  color: #a9afb1;
}
.listTabs.listTabs_grey .uk-nav li a:hover,
.listTabs.listTabs_grey .uk-nav>li.uk-active>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #cfd8dc;
}
.listTabs.listTabs_secondary .uk-nav a {
  color: #8cc63e;
}
.listTabs.listTabs_secondary .uk-nav li a:hover,
.listTabs.listTabs_secondary .uk-nav>li.uk-active>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #8cc63e;
}
.templateA2 .listTabs.listTabs_secondary .uk-nav a {
  color: #ff6a00;
}
.templateA2 .listTabs.listTabs_secondary .uk-nav li a:hover,
.templateA2 .listTabs.listTabs_secondary .uk-nav>li.uk-active>a,
.templateA2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.templateA2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.templateA2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.templateA2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #ff6a00;
}
.templateB1 .listTabs.listTabs_secondary .uk-nav a {
  color: #b56000;
}
.templateB1 .listTabs.listTabs_secondary .uk-nav li a:hover,
.templateB1 .listTabs.listTabs_secondary .uk-nav>li.uk-active>a,
.templateB1 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.templateB1 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.templateB1 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.templateB1 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #b56000;
}
.templateB2 .listTabs.listTabs_secondary .uk-nav a {
  color: #0071bc;
}
.templateB2 .listTabs.listTabs_secondary .uk-nav li a:hover,
.templateB2 .listTabs.listTabs_secondary .uk-nav>li.uk-active>a,
.templateB2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.templateB2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.templateB2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.templateB2 .listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #0071bc;
}


.switcher {
  overflow: hidden;
}

.classyedit {
  width: 100%;
  padding: 0;
}

.classyedit .toolbar {
  /*display: block !important;*/
  background: #f7f7f7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 41px !important;
}

.classyedit .toolbar .button:not(:nth-child(4)) {
  display: none;
}

/*.classyedit .toolbar .button:disabled {display: none;}*/

.classyedit .toolbar .button [command='insertUnorderedList'] {
  background-image: url(../img/blank.gif);
  background-size: 16px 16px;
  font-family: FontAwesome !important;
  display: inline;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.classyedit .toolbar .button [command='insertUnorderedList']:before {
  content: "\f0ca";
}

.classyedit .toolbar .button:hover,
.classyedit .toolbar .button {
  color: #666;
  width: 36px;
  height: 41px;
  line-height: 39px;
  text-align: center;
}

.classyedit .toolbar .button:hover,
.classyedit .toolbar .button.on {
  background-color: #f5f5f5;
  border-left-color: rgba(0, 0, 0, .1);
  border-right-color: rgba(0, 0, 0, .1);
  border-top-color: rgba(0, 0, 0, .2);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
}

.classyedit .editor:not(:focus):empty:before {
  content: "請輸入項目文字或說明文字";
  color: #999
}

.slider_tabs .uk-slider-container {
  margin-left: -5px;
}

.slider_tabs .uk-slidenav-previous {
  left: calc(-35px);
}

.slider_tabs .uk-slidenav-next {
  right: calc(-35px);
}

.seats * {font-size: 0.7rem;}
.seats .uk-text-break {
  word-break: break-word;
}

.tableBorder {
    padding: 0 !important;
}

.gate {
    position: relative;
}
.gate:before {
    font-family: FontAwesome;
    font-size: 2rem;
    position: absolute;
    top: calc(50% - 48px/2);
}
.gate.gateL:before {
    content: "\f0da";
    left: -5px;
}
.gate.gateR:before {
    content: "\f0d9";
    right: -15px;
}
.uk-width-1-7>* {width: calc(100% / 7);}
.uk-width-2-7>* {width: calc(100% / 7 * 2);}
.uk-width-3-7>* {width: calc(100% / 7 * 3);}
.uk-grid-width-1-16>* {width: calc(100% / 16);}
/* .seats .uk-width:nth-child(2), .seats .uk-width:nth-child(4) {width: 0;}
.seats .uk-width:nth-child(3) {width: 100%;}
.seats .uk-width .uk-width:nth-child(1), .seats .uk-width .uk-width:nth-child(3) {width: 15px !important;}
.seats .uk-width .uk-width:nth-child(2) {width: calc(100% - 15px * 2);} */

.tempindex .tabs img {width: 125px; height: 125px;}
nav.nav_act:not(.bg_white)>.uk-button-dropdown>a:focus, nav.nav_act:not(.bg_white)>.uk-button-dropdown>a:hover, nav.nav_act:not(.bg_white)>.uk-button-dropdown>a.active, nav.nav_act:not(.bg_white)>.uk-button-dropdown[aria-expanded="true"]>a {background-color: rgba(0, 0, 0, 0.2);}

footer,
footer a {
  color: white !important;
}

/* a:focus, .color_white a:focus {
    background: #FFC107;
    color: black !important;
}
nav:not(.bg_white)>.uk-button-dropdown>a:focus {color: black !important;} */

/* Uikit Style
---------------------------------------------------- */

.uk-nav-offcanvas>.uk-open>a, html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus, html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover {
  background: #287732;
}
.uk-pagination>.uk-active>span, .uk-pagination>li>a:focus, .uk-pagination>li>a:hover {
  background-color: #3ab54a;
  color: #fff !important;
}
.pagination_secondary.uk-pagination>.uk-active>span, .pagination_secondary.uk-pagination>li>a:focus, .pagination_secondary.uk-pagination>li>a:hover {color: white !important; background-color: #8cc63e !important;
}

.templateA2 .pagination_secondary.uk-pagination>.uk-active>span, .templateA2 .pagination_secondary.uk-pagination>li>a:focus, .templateA2 .pagination_secondary.uk-pagination>li>a:hover {color: white !important;background-color: #ff6a00 !important;}
.templateA2 .pagination_secondary.uk-pagination>li>a:focus, .templateA2 .pagination_secondary.uk-pagination>li>a:hover {color: white !important;background-color: #da821e !important;}
.templateB1 .pagination_secondary.uk-pagination>.uk-active>span {color: white !important;background-color: #b56000 !important;}
.templateB2 .pagination_secondary.uk-pagination>.uk-active>span, .templateA2 .pagination_secondary.uk-pagination>li>a:focus, .templateA2 .pagination_secondary.uk-pagination>li>a:hover {color: white !important;background-color: #0071bc !important;}

.uk-tab>li.uk-open>a,
.uk-tab>li>a:focus,
.uk-tab>li>a:hover {
  background: #81b739;
  color: #ffffff;
}

.uk-tab>li>a {
  color: #3ab54a;
  transition: none;
}
.templateA2 .uk-tab>li>a {
  color: #b53a3a;
  transition: none;
}

.uk-tab>li.uk-active>a:hover {
  background: #fff;
  color: #444;
}

.slider_choice a:not(.uk-slidenav):focus,
.slider_choice a:not(.uk-slidenav):hover,
.slider_choice .uk-active a {
  background: #3ab54a;
}
.templateA2 .slider_choice a:not(.uk-slidenav):focus,
.templateA2 .slider_choice a:not(.uk-slidenav):hover,
.templateA2 .slider_choice .uk-active a {
  background: #b53a3a;
}

* :focus {
    border: 2px solid #FFC107 !important;
    box-shadow: 0 0 0 0.2rem #FFC107;
}
/* .uk-form input:not([type]):focus, .uk-form input[type=text]:focus, .uk-form input[type=password]:focus, .uk-form input[type=email]:focus, .uk-form input[type=url]:focus, .uk-form input[type=search]:focus, .uk-form input[type=tel]:focus, .uk-form input[type=number]:focus, .uk-form input[type=datetime]:focus, .uk-form input[type=datetime-local]:focus, .uk-form input[type=date]:focus, .uk-form input[type=month]:focus, .uk-form input[type=time]:focus, .uk-form input[type=week]:focus, .uk-form input[type=color]:focus, .uk-form select:focus, .uk-form textarea:focus {
    border-color: black;
    background: #FFC107;
    color: black;
} */

/* End Uikit Style
---------------------------------------------------- */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Style */

@media (min-width:480px) {
  figure .svg-inline--fa {
    font-size: 0.8em;
  }
  .ebook .logo img {
    max-height: 70px;
  }
  .ebook .photo_list a>img {
    height: 450px;
  }
}

@media (min-width:768px) {
  .index .bg_student {
    background: url("../img/student.png") no-repeat 95% top;
    background-size: auto;
  }
  .dashboard .uk-panel {
    padding-bottom: 70px;
  }
  .dashboard .uk-panel h5 {
    font-size: 2.2vw !important;
  }
  .card_sticky {
    width: 200px !important;
    transition: all 500ms ease;
    z-index: 2;
    position: fixed;
    top: 10%;
    overflow: auto;
    max-height: 80%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }
  .card_sticky.card_sticky_right {
    right: 0px !important;
  }
  .card_sticky.open {
    width: 300px !important;
  }
  .card_sticky .truncating:after {
    bottom: 0.1em;
  }
.card_sticky .bg_primary2 .truncating:after {background: linear-gradient(to right, rgba(255, 255, 255, 0), #8cc63e 80%);}
.card_sticky .bg_secondary2 .truncating:after {background: linear-gradient(to right, rgba(255, 255, 255, 0), #338cc4 80%);}
.templateB1 .card_sticky .bg_secondary2 .truncating:after {background: linear-gradient(to right, rgba(255, 255, 255, 0), #b56000 80%);}
  .card_sticky h5 {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .ebook .photo_list a>img {
    height: 320px;
  }
  #news {
    max-height: 369px;
  }
  #news .max_height {
    overflow: hidden;
    min-height: 150px;
    max-height: 320px;
  }
  #news .max_height:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    height: 10px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
  }
  .seats .uk-width:nth-child(3), .seats .uk-width .uk-width:nth-child(2) {width: calc(100% - 30px * 2);}
  .seatsBar .uk-width:nth-child(2) {width: calc(100% - 15px * 2);}
  .seats .uk-panel {
    font-size: 0.7rem;
  }
  .tableBorder {
    padding: 15px 5px !important;
  }
  .gate.gateL:before {
    left: 5px;
  }
  .gate.gateR:before {
    right: -65px;
  }
  .seats .chair.uk-panel {
    padding: 10px 5px !important;
  }
  #pageView.uk-scrollable-box {
    height: 600px;
  }
}

@media (min-width:960px) {
  .dashboard .uk-panel h5 {
    font-size: 1.5vw !important;
  }
  .truncating {
    height: 9em;
  }
  .card_sticky .truncating {
    height: 10.3em;
  }
  .bg_primary .max_height:after {
    background: linear-gradient(to top, rgb(58, 181, 74) 85%, rgba(255, 255, 255, 0) 100%);
  }
  .bg_secondary .max_height:after {
    background: linear-gradient(to top, rgb(130, 187, 66) 85%, rgba(255, 255, 255, 0) 100%);
  }
  .templateB2 .bg_secondary .max_height:after {
    background: linear-gradient(to top, rgb(0, 113, 188) 85%, rgba(255, 255, 255, 0) 100%);
  }
  .max_height2 {
    max-height: 300px;
  }
  .ebook .photo_list a>img {
    height: 330px;
  }
  #news .max_height {
    max-height: 220px;
  }
  .uk-tooltip {
    display: none !important;
  }
  .seats .chair.uk-panel {
    padding: 5px !important;
  }
}

@media (min-width:1220px) {
  figure .svg-inline--fa {
    font-size: 0.7em;
  }
  .dashboard {
    max-height: 227px;
  }
  .dashboard .uk-panel h5 {
    font-size: 1.1em !important;
    line-height: 1.2 !important;
  }
  /*.switcher {height: 301px;}*/
  .index .bg_img [class*=uk-width]:nth-child(4),
  .index .bg_img [class*=uk-width]:nth-child(5) {
    max-height: 360.39px;
  }
.tempindex .tabs img {width: 170px; height: 170px;}
.tempindex footer .logo {margin-right: 15px;}

}

@media (min-width:1600px) {
  .card_sticky {
    top: 310px;
  }
  .tempindex .content .uk-container {max-width: 1400px;}
}

/* Portrait */

@media screen and (orientation:portrait) {
  /* .landscape {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  } */
}

/* Landscape */

@media screen and (orientation:landscape) {
  /* .landscape {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  } */
}

/* ----------- IE10+ ----------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}